<h2>Joey does'n share food!!</h2>

<h4>{{my_text}}</h4>

<button (click)="changeText()" mat-stroked-button color="accent">Change text</button>
<button (click)="showHideList()" mat-stroked-button color="accent">Show/Hide List</button>

<mat-list *ngIf="showList === true" role="list">
  <mat-list-item *ngFor="let ch of characters" role="listitem">{{ch}}</mat-list-item>
</mat-list>
<br>
<mat-divider></mat-divider>
<br>

<mat-form-field class="example-form-field">
  <mat-label>Student name</mat-label>
  <input matInput type="text" [(ngModel)]="studentName">
    <button *ngIf="studentName" matSuffix mat-icon-button aria-label="Clear" (click)="studentName=''">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<h3>{{studentName}}</h3>

<mat-divider></mat-divider>


<mat-form-field class="example-form-field">
  <mat-label>Student age</mat-label>
  <input matInput type="text" [(ngModel)]="studentAge">
    <button *ngIf="studentAge" matSuffix mat-icon-button aria-label="Clear" (click)="studentAge=0">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<h3>{{studentAge}}</h3>

<mat-divider></mat-divider>

<button (click)="addStudent()" mat-stroked-button color="accent">Add</button>
<mat-list role="list">
  <mat-list-item *ngFor="let student of studentList" role="listitem">{{student.name}}</mat-list-item>
</mat-list>